# created by virtualenv automatically
__pycache__/
*.pyc
*.pyo
.env
.venv/
db.sqlite3
staticfiles/

# Archivos locales de desarrollo
*.log
.pytest_cache/

# Archivos subidos o generados localmente
media/mascotas/
media/qr_codes/

# Reportes de cobertura
htmlcov/
.coverage
.pytest_cache/
